<ion-header>
  <ion-toolbar>
    <ion-title>My Watchlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user.isLogin()">
    <div id="profile-info" *ngIf="profilePic">
        <ion-grid class="profile-grid">
          <ion-row>
            <ion-col size="4" class="user-image">
                <img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/" class="profile-img">
            </ion-col>
            <ion-col size="8">
              <p class="ion-text-center">{{ user.getEmail() }}</p>
              <p class="ion-text-center">{{ user.getName() }}</p>
              <ion-button expand="block" color="primary" size="small" (click)="signOut()">Sign Out</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
      <ion-item>
          <ion-label>Type</ion-label>
          <ion-select [(ngModel)]="type" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" (ionChange)="showMovie()" placeholder="Select One">
            <ion-select-option value="ongoing">Ongoing</ion-select-option>
            <ion-select-option value="completed">Completed</ion-select-option>
          </ion-select>
      </ion-item>

      <div *ngIf="this.movies.length != 0" id="images">
        <div *ngFor="let mov of movies" id="image">
          <img src="{{mov.poster}}" width="300" height="375"  class="main-image" (click)="detailMovie(mov.id)">
        </div>
      </div>

  </div>

  <div class="center" *ngIf="!user.isLogin()">
      <ion-button fill="solid" expand="block" color="dark" routerLink="/login">Login</ion-button>
      <p class="ion-text-center">Or</p>
      <ion-button fill="solid" expand="block" color="dark" routerLink="/register">Register</ion-button>
  </div>

  

</ion-content>

