<ion-header>
  <ion-toolbar>
    <ion-title>Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="searchResult">
    <ion-card>
        <ion-img src="{{searchResult.Poster}}"></ion-img>
        <div class="card-bg">
          <ion-card-header>
            <ion-card-subtitle>{{searchResult.Actors}}</ion-card-subtitle>
            <ion-card-title>{{searchResult.Title}} ({{searchResult.Year}})</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{searchResult.Plot}}</p>
          </ion-card-content>
        </div>
        <div *ngIf="!this.from">
            <ion-button expand="block" (click)="checkDouble(searchResult.imdbID)">
                <ion-icon slot="start" name="star"></ion-icon>
                Add to watchlist
            </ion-button>
        </div>

        <div *ngIf="this.from == 'ongoing'">
            <ion-button expand="block" color='medium' (click)="complete(searchResult.imdbID)">
                <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                Complete
            </ion-button>

            <ion-button expand="block" color='danger' (click)="delete(searchResult.imdbID)">
                <ion-icon slot="start" name="close-circle"></ion-icon>
                Delete from watchlist
            </ion-button>
        </div>

        <div *ngIf="this.from == 'completed'">
            <ion-button expand="block" color='danger' (click)="delete(searchResult.imdbID)">
                <ion-icon slot="start" name="close-circle"></ion-icon>
                Delete from watchlist
            </ion-button>
        </div>
        
    </ion-card>
  </div>

</ion-content>
